.digidennis-mageme-productpage dl.interface {
  margin: 0;
}
.digidennis-mageme-productpage dl.interface dt h5 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
