.digidennis-mageme-product-inline {
  padding: 2em 1em;
  text-align: center;
  border: 1px dashed #cfcfcf;
}
.digidennis-mageme-product-inline img {
  width: 100%;
  width: calc(100% + 30px) !important;
  margin-left: -15px;
  margin-top: -15px;
}
.digidennis-mageme-product-inline > ul {
  list-style: none;
  padding: 0;
}
.digidennis-mageme-option > dd > ul.neos-contentcollection {
  list-style: none;
  padding: 0;
  margin: 0;
}
.digidennis-mageme-option .SumoSelect {
  display: block;
  width: 100%;
}
.digidennis-mageme-option dd .digidennis-mageme-dimension {
  display: none;
}
.digidennis-mageme-option dd.item-is-selected .digidennis-mageme-dimension {
  display: inline-block;
}
.digidennis-mageme-optionimageselect input[type="checkbox"],
.digidennis-mageme-optionimageselect input[type="radio"] {
  display: none;
}
.digidennis-mageme-optionimageselect .row {
  margin-right: 0;
}
.digidennis-mageme-optionimageselect .row label.col-sm-2.col-xs-4 {
  font-size: 1em;
  margin-bottom: auto;
  padding-right: 0;
}
.digidennis-mageme-optionimageselect .row label.col-sm-2.col-xs-4:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -3px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 1;
}
.digidennis-mageme-optionimageselect .row label.col-sm-2.col-xs-4 img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  width: 100%;
  height: auto;
}
.digidennis-mageme-optionimageselect .row label.col-sm-2.col-xs-4 p {
  text-align: center;
  font-size: 14px;
  margin-top: -3px;
  margin-bottom: 10px;
}
.digidennis-mageme-optionimageselect :checked + label.col-sm-2.col-xs-4:before {
  content: "✓";
  background-color: #2fd9ff;
  transform: scale(1);
  font-weight: 800;
  font-size: 16px;
}
.digidennis-mageme-optionimageselect :checked + label.col-sm-2.col-xs-4 img {
  transform: scale(0.9);
  z-index: -1;
}
.digidennis-mageme-productpage dl.interface {
  margin: 0;
}
.digidennis-mageme-productpage dl.interface dt h5 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.digidennis-mageme-productcatalogpage section.content {
  margin-top: 6em;
}
.digidennis-mageme-productcatalogpage .digidennis-mageme-productcatalogmenu .nav a {
  padding: inherit;
}
.digidennis-mageme-cartpage .btn-primary {
  background-image: none;
  background-color: #469dea;
  line-height: 1.7em;
  font-weight: 400;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.4);
  border-color: #469dea;
  border-radius: 1px;
  margin-bottom: 2em;
}
.digidennis-mageme-cartpage .shipping-estimate {
  margin-bottom: 2em;
  margin-top: 30px;
}
.digidennis-mageme-cartpage .shipping-estimate h5 {
  font-weight: 700;
}
.digidennis-mageme-cartpage .shipping-estimate .shipping-estimate-inner {
  padding: 0;
}
.digidennis-mageme-cartpage .shipping-estimate .form-control {
  width: 120px;
  float: left;
  margin-right: .5em;
}
.digidennis-mageme-cartpage .shipping-estimate .btn-default {
  margin-right: .2em;
}
.digidennis-mageme-cartpage .total-overview {
  margin-bottom: 1em;
  margin-top: 15px;
}
.digidennis-mageme-cartpage .total-overview .shipping {
  margin-top: 1em;
}
.digidennis-mageme-cartpage .total-overview .amount {
  padding-top: 1em;
  margin-top: 28px;
  border-top: 2px solid;
  font-size: 1.4em;
  font-weight: 600;
}
.digidennis-mageme-cartpage .total-overview .shipping span,
.digidennis-mageme-cartpage .total-overview .amount span {
  float: right;
  clear: both;
}
.digidennis-mageme-cartpage .total-overview span.no-estimate {
  float: none;
  clear: none;
  color: #767676;
  font-style: italic;
}
.digidennis-mageme-cartpage .total-overview span.no-estimate:after {
  content: ')';
}
.digidennis-mageme-cartpage .total-overview span.no-estimate:before {
  content: ' (';
}
.digidennis-mageme-cartpage .total-overview a.btn-primary {
  margin-top: 74px;
  width: 232px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .digidennis-mageme-cartpage .shipping-estimate {
    margin-top: 30px;
  }
  .digidennis-mageme-cartpage .total-overview {
    border-left: 1px solid #aaa;
    margin-top: 30px;
  }
  .digidennis-mageme-cartpage .shipping-estimate h5 {
    margin: 0 0 1.2em;
  }
}
.digidennis-mageme-cartpage div.qoute-item-list {
  border-top: 2px solid #585858;
  border-bottom: 2px solid #585858;
}
.digidennis-mageme-cartpage .quote-item {
  border-bottom: 1px solid #bbb;
  padding: 1em 0 1em 0;
  background-color: white;
  position: relative;
  min-height: 94px;
}
.digidennis-mageme-cartpage .quote-item:last-child {
  border-bottom: none;
}
.digidennis-mageme-cartpage .item-qty input[type="text"] {
  width: 3em;
  padding: 7px;
  text-align: center;
}
.digidennis-mageme-cartpage .item-qty > span {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 1em;
  width: 2em;
  margin-top: 0.3em;
}
.digidennis-mageme-cartpage .item-qty > input[type=submit] {
  position: absolute;
  z-index: 100;
  top: -2px;
  left: 4em;
  display: block;
  width: auto;
}
.digidennis-mageme-cartpage .item-qty > input[type=submit].hidden {
  display: none;
}
.digidennis-mageme-cartpage .quote-item-options {
  font-size: .85em;
  line-height: 15px;
}
.digidennis-mageme-cartpage .quote-item-options label {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.digidennis-mageme-cartpage .quote-item .item h4 {
  font-size: 1.1em;
  margin: 0 0 4px;
}
.digidennis-mageme-cartpage .quote-item .price.sub-total-tax {
  margin-bottom: 0.2em;
}
.digidennis-mageme-cartpage .quote-item .row-total {
  text-align: right;
  padding-right: 0;
  padding-top: 1em;
}
.digidennis-mageme-cartpage .quote-item .item-actions .item-delete {
  border: none;
  background-color: transparent;
  outline: none;
  color: #888;
  font-size: 0.9em;
}
.digidennis-mageme-cartpage .quote-item .item-actions .item-delete label {
  display: none;
  vertical-align: text-top;
  font-weight: 400;
}
.digidennis-mageme-cartpage .quote-item .item-actions {
  position: absolute;
  left: .1em;
  bottom: 5px;
}
.digidennis-mageme-cartpage .quote-item .item-actions .item-delete .glyphicon {
  margin-right: .3em;
  font-size: 1.2em;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .digidennis-mageme-cartpage .quote-item .item-actions {
    right: 0;
    left: auto;
    bottom: 5px;
  }
  .digidennis-mageme-cartpage .quote-item .row-total {
    text-align: right;
    padding-right: 0;
    padding-top: 0;
  }
  .digidennis-mageme-cartpage .quote-item .item-actions .item-delete label {
    display: inline;
  }
  .digidennis-mageme-cartpage .item-qty input[type="text"] {
    display: inline;
    margin-right: .4em;
    margin-left: 1em;
  }
  .digidennis-mageme-cartpage .item-qty > span {
    display: inline;
  }
  .digidennis-mageme-cartpage .item-qty > input[type=submit] {
    left: 80px;
  }
  .digidennis-mageme-cartpage .row-total {
    text-align: right;
  }
}
