{namespace mageme=Digidennis\MageMe\ViewHelpers}
{namespace sitepack=Digidennis\SitePack\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}


<dl {attributes -> f:format.raw()}>
    <dt>
        <h5>{selection.label}</h5> <span class="digidennis-mageme-option-toggle"></span>
    </dt>
    <dd data-component="Item" class="digidennis-mageme-optionimageselect-select">
        <ul data-component="OptionImageSelect">
            <f:for each="{selection.items}" as="item" key="index">
                <li>
                    <f:format.raw>
                        <mageme:imageSelectInput selection="{selection}" item="{item}" index="{index}" optionid="{optionid}" getargument="{getargument}"/>
                    </f:format.raw>
                    <label for="{item.selectionId}">
                        <f:if condition="{images}">
                            <f:format.raw>
                                <sitepack:renderAtIndex array="{images}" index="{index}" address="obj">
                                    <ts:render path="imagerenderer" context="{node: obj, title: item.name}"/>
                                </sitepack:renderAtIndex>
                            </f:format.raw>
                        </f:if>
                    </label>
                </li>
            </f:for>
        </ul>
    </dd>
    <dd>
        <div data-component="OptionPrice" data-currency-symbol="{currencySymbol}" data-prefix="&nbsp;"></div>
    </dd>
    <f:if condition="{gotcontent}">
        <dd>
            {content -> f:format.raw()}
            <div class="option-content-link">
                <a data-target-selector="#content-{contentnodeidentifier}" data-active-class="content-show" data-target-active-class="content-show" href="#{contentnodeidentifier}"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
        </dd>
    </f:if>
    <f:if condition="{rules}">
        <dd class="hidden">
            {rules -> f:format.raw()}
        </dd>
    </f:if>
</dl>