{namespace mageme=Digidennis\MageMe\ViewHelpers}
{namespace sitepack=Digidennis\SitePack\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}


<dl {attributes -> f:format.raw()}>
    <dt>
        <h5>{selection.label}</h5>
    </dt>
    <dd data-component="Item" class="item-is-selected">
        <div class="row">
            <f:for each="{assets}" as="asset" iteration="assetsItt">
                <f:if condition="{selection.isMulti}">
                   <f:then>
                       <input type="checkbox"
                              <f:if condition="{selection.isRequired} && {assetsItt.isFirst}"> checked="checked" </f:if>
                              value="{asset.optionTypeId}"
                              name="options[{optionid}]"
                              id="option-type-id-{asset.optionTypeId}">
                   </f:then>
                   <f:else>
                       <input type="radio"
                              <f:if condition="{selection.isRequired} && {assetsItt.isFirst}"> checked="checked" </f:if>
                              value="{asset.optionTypeId}"
                              name="options[{optionid}]"
                              id="option-type-id-{asset.optionTypeId}">
                   </f:else>
                </f:if>
                <label class="col-sm-2 col-xs-4" for="option-type-id-{asset.optionTypeId}">
                    <neos.media:thumbnail asset="{asset.asset}" width="250"  alt="{asset.title}" class="option-image-select-image" />
                    <p>{asset.title}</p>
                </label>
            </f:for>
        </div>
    </dd>
    <f:if condition="{gotcontent}">
        <dd>
            {content -> f:format.raw()}
        </dd>
    </f:if>
    <f:if condition="{rules}">
        <dd class="hidden">
            {rules -> f:format.raw()}
        </dd>
    </f:if>
</dl>
